<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.shianxian.supervise.sys.dao.RoleAuthorityDao">

    <select id="insertRoleAuthority" resultType="java.lang.String">
        CALL Proc_T_RoleAuthority_Add
        (
        #{roleAuthority.roleTag},
        #{roleAuthority.moduleAuthority}
        )
    </select>

    <select id="updateRoleAuthority" resultType="java.lang.String">
        CALL Proc_T_RoleAuthority_Edit_ByRoleTag
        (
        #{roleAuthority.roleTag},
        #{roleAuthority.moduleAuthority}
        )
    </select>

    <select id="deleteRoleAuthorityById" resultType="java.lang.String">
        CALL Proc_T_RoleAuthority_Remove_ByRoleTag(#{id})
    </select>

</mapper>