<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.shianxian.supervise.sys.dao.SuperviseResultDao">

    <select id="insertSuperviseResult">
        CALL Proc_T_SuperviseResult_Add
        (
        #{superviseResult.resultTag},
        #{superviseResult.superviseTag},
        #{superviseResult.resultValue},
        #{superviseResult.score},
        #{superviseResult.remark},
        #{superviseResult.advice},
        #{superviseResult.ifUse}
        )
    </select>

    <select id="updateSuperviseResult">
        CALL proc_T_SuperviseResult_Edit_ByTag
        (
        #{superviseResult.resultTag},
        #{superviseResult.superviseTag},
        #{superviseResult.resultValue},
        #{superviseResult.score},
        #{superviseResult.remark},
        #{superviseResult.advice},
        #{superviseResult.ifUse}
        )
    </select>

    <select id="deleteSuperviseResult">
        CALL proc_T_SuperviseResult_Remove_ByTag(#{id})
    </select>

    <select id="selectSuperviseResultById">
        CALL proc_T_SuperviseResult_Query_ByTag(#{id})
    </select>

    <select id="selectSuperviseResultBySuperviseTag">
        CALL proc_T_Supervise_Result_Query_By_SuperviseTag(#{superviseTag})
    </select>

    <select id="selectScoreById">
        CALL proc_T_Supervise_Query_Score_ByTag(#{id})
    </select>

    <select id="updateSuperviseResultByUpSort">
        CALL proc_T_SuperviseResult_OrderUp_ByTag(#{id})
    </select>

    <select id="updateSuperviseResultByDownSort">
        CALL proc_T_SuperviseResult_OrderDown_ByTag(#{id})
    </select>
</mapper>