<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.shianxian.supervise.sys.dao.UserDao">

    <select id="insertUser" resultType="java.lang.String">
        CALL Proc_T_User_Add
        (
        #{user.userName},
        #{user.userNo},
        #{user.userTel},
        #{user.userLoginName},
        #{user.userLoginPass},
        #{user.userGroupTag},
        #{user.roleTag},
        #{user.picTag}
        )
    </select>

    <select id="updateUser" resultType="java.lang.String">
        CALL proc_T_User_Edit_ByUserTag
        (
        #{user.userTag},
        #{user.userName},
        #{user.userNo},
        #{user.userTel},
        #{user.userLoginPass}
        )
    </select>

    <select id="deleteUserById" resultType="java.lang.String">
        CALL proc_T_User_Remove_ByUserTag(#{id})
    </select>

    <select id="selectUserById" resultType="cn.shianxian.supervise.sys.pojo.User">
        CALL proc_T_User_Query_ByUserTag(#{id})
    </select>

    <resultMap id="user" type="cn.shianxian.supervise.sys.pojo.User"></resultMap>

    <select id="selectUserByLike" resultMap="user,pageCount,totalCount">
        CALL proc_T_User_Query_ByCondition
        (
        #{user.roleTag},
        #{user.userGroupTag},
        #{user.userName},
        #{pages.pageSize},
        #{pages.pageNum}
        )
    </select>
</mapper>