<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.shianxian.supervise.cockpit.dao.CockpitMapDao">

    <resultMap id="cockpitMapCityVO" type="cn.shianxian.supervise.cockpit.vo.CockpitMapCityVO"></resultMap>
    <resultMap id="cockpitMapAreaVO" type="cn.shianxian.supervise.cockpit.vo.CockpitMapAreaVO"></resultMap>

    <select id="selectCockpitMap" resultMap="cockpitMapCityVO,cockpitMapAreaVO">
        CALL Proc_jsc_QueryCityMap_BySuperviseType_Period
        (
        #{queryPojo.superviseTypeTag},
        #{queryPojo.period}
        )
    </select>


</mapper>