<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.shianxian.supervise.team.dao.SuperviseTeamDao">

    <select id="selectSuperviseTeamById" resultType="cn.shianxian.supervise.team.pojo.SuperviseTeam">
        CALL proc_T_SuperviseTeam_Query_ByTag(#{id})
    </select>

    <select id="insertSuperviseTeam" resultType="java.lang.String">
        CALL Proc_T_SuperviseTeam_Add
        (
        #{SuperviseTeam.teamTag},
        #{SuperviseTeam.teamName},
        #{SuperviseTeam.remark},
        #{SuperviseTeam.createTime},
        #{SuperviseTeam.createUserTag},
        #{SuperviseTeam.lastUpdateTime},
        #{SuperviseTeam.lastUpdateUser},
        #{SuperviseTeam.ifUse}
        )
    </select>

    <select id="updateSuperviseTeam" resultType="java.lang.String">
        CALL proc_T_SuperviseTeam_Edit_ByTag
        (
        #{SuperviseTeam.teamTag},
        #{SuperviseTeam.teamName},
        #{SuperviseTeam.remark},
        #{SuperviseTeam.createTime},
        #{SuperviseTeam.createUserTag},
        #{SuperviseTeam.lastUpdateTime},
        #{SuperviseTeam.lastUpdateUser},
        #{SuperviseTeam.ifUse}
        )
    </select>

    <select id="deleteSuperviseTeamById" resultType="java.lang.String">
        CALL proc_T_SuperviseTeam_Remove_ByTag(#{id})
    </select>

    <select id="selectSuperviseTeamByLike" resultType="cn.shianxian.supervise.team.pojo.SuperviseTeam">
        CALL proc_T_SuperviseTeam_Query_ByConditon
        (
        #{queryPojo.parentId},
        #{queryPojo.name}
        )
    </select>
</mapper>