<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.shianxian.supervise.info.dao.SuperviseInfoMainOldDao">

    <select id="saveSuperviseInfoMainOld" resultType="java.lang.String">
        CALL proc_T_Supervise_Info_Main_Add
        (
        #{superviseInfoMainOld.mainId},
        #{superviseInfoMainOld.nodeType},
        #{superviseInfoMainOld.nodeTag},
        #{superviseInfoMainOld.nodeName},
        #{superviseInfoMainOld.createTime},
        #{superviseInfoMainOld.superviseTeamTag},
        #{superviseInfoMainOld.superviseTeamName},
        #{superviseInfoMainOld.superviserTag},
        #{superviseInfoMainOld.superviserName},
        #{superviseInfoMainOld.functionaryTag},
        #{superviseInfoMainOld.functionaryName},
        #{superviseInfoMainOld.remark},
        #{superviseInfoMainOld.picTag}
        )
    </select>

    <resultMap id="superviseInfoMainOldVO" type="cn.shianxian.supervise.info.vo.SuperviseInfoMainOldVO"></resultMap>

    <select id="selectSuperviseInfoMainOldByLike" resultMap="superviseInfoMainOldVO,pageCount,totalCount">
        CALL proc_T_Supervise_Info_Old_Query_ByCondition
        (
        #{queryPojo.id},
        #{queryPojo.startTime},
        #{queryPojo.endTime},
        #{queryPojo.authority},
        #{queryPojo.name},
        #{pages.pageSize},
        #{pages.pageNum}
        )
    </select>

</mapper>