<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.shianxian.supervise.info.dao.SuperviseInfoOldDao">

    <insert id="batchInsertSelective" parameterType="cn.shianxian.supervise.info.pojo.SuperviseInfoOld">
        INSERT INTO t_supervise_info_old
        (
        nodeName,nodeAddress,superviseTypeTag,unMatchId,unMatchPointId,wrongNum,unMatchContent,requst,returnVisitDone,ifDelete,superviseTime
        )
        VALUES
        <foreach collection="superviseInfoOlds" item="item" separator="," index="index">
            (
            #{item.nodeName},
            #{item.nodeAddress},
            #{item.superviseTypeTag},
            #{item.unMatchId},
            #{item.unMatchPointId},
            #{item.wrongNum},
            #{item.unMatchContent},
            #{item.requst},
            #{item.returnVisitDone},
            #{item.ifDelete},
            #{item.superviseTime}
            )
        </foreach>
    </insert>

    <select id="selectSuperviseInfoOldGroup" resultType="cn.shianxian.supervise.info.pojo.SuperviseInfoOld">
         SELECT id,nodeTag,nodeName,nodeAddress,superviseTypeTag,unMatchId,unMatchPointId,SUM(wrongNum) AS wrongNum,unMatchContent,requst,returnVisitDone,ifDelete,superviseTime
         FROM t_supervise_info_old
         <where>
             <if test="queryPojo.startTime != null and queryPojo.endTime != null">
                 AND superviseTime BETWEEN #{queryPojo.startTime} AND #{queryPojo.endTime}
             </if>
             <if test="queryPojo.name != null and queryPojo.name != '' ">
                 AND nodeName LIKE CONCAT("%", #{queryPojo.name}, "%")
                 OR unMatchPointId LIKE CONCAT("%", #{queryPojo.name}, "%")
                 OR unMatchContent LIKE CONCAT("%", #{queryPojo.name}, "%")
                 OR requst LIKE CONCAT("%", #{queryPojo.name}, "%")
             </if>
         </where>
         GROUP BY nodeName, superviseTime
         ORDER BY superviseTime DESC
    </select>

</mapper>