<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.shianxian.supervise.tibetan.dao.XsInfoDao">
    <select id="selectXsje" resultType="java.math.BigDecimal">
        select kh_money from qzgy_khda where kh_dm = #{xsxjdm}
    </select>

    <select id="insertSalesMainInfo" resultType="java.lang.String">
        CALL Proc_XsInsert_Main(
        #{xssjdm,jdbcType=VARCHAR},
        #{xssjmc,jdbcType=VARCHAR},
        #{xsxjdm,jdbcType=VARCHAR},
        #{xsxjmc,jdbcType=VARCHAR},
        #{xsdm,jdbcType=VARCHAR},
        #{xszje,jdbcType=DECIMAL},
        #{xszzl,jdbcType=DECIMAL},
        #{xscheckmark,jdbcType=VARCHAR},
        #{xscheckdm,jdbcType=VARCHAR},
        #{xscheckmc,jdbcType=VARCHAR},
        #{xspaydm,jdbcType=VARCHAR},
        #{xspaymc,jdbcType=VARCHAR}
        )
    </select>

    <select id="insertSalesSubInfo" resultType="java.lang.String">
        CALL Proc_XsInsert_Sub(
          #{xsdm,jdbcType=VARCHAR},
          #{xsspdm,jdbcType=VARCHAR},
          #{xsspmc,jdbcType=VARCHAR},
          #{xszl,jdbcType=DECIMAL},
          #{xsdj,jdbcType=DECIMAL},
          #{xsje,jdbcType=DECIMAL},
          #{xsindex,jdbcType=INTEGER},
          #{jhdm,jdbcType=VARCHAR}
        )
    </select>

    <select id="selectXsInfo" resultType="cn.shianxian.supervise.tibetan.dto.XsInfoDTO">
        CALL Proc_XsSelect(#{xssjdm},#{xsxjdm},#{xschecked})
    </select>
    <update id="updateXsMainInfo">
       update qzgy_xs_main set xs_xjdm = #{xsxjdm},xs_sjmc = #{xsxjmc},xs_paydm = #{xspaydm},xs_paymc = #{xsdm},xs_used = #{xsused}
         where xs_dm = #{xspaymc}
    </update>

    <update id="updateBalance">
        update qzgy_khda set kh_money = #{khmoney} where kh_dm = #{xsxjb}
    </update>

    <update id="updateCheck">
        update qzgy_xs_main set xs_check_mark =#{xscheckmark},xs_checkdm = #{xscheckdm}, xs_checkmc = #{xscheckmc},xs_checked = 1 where xs_dm = #{xsdm}
    </update>
</mapper>